<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css"/>
  <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
  <link rel="stylesheet" href="https://pokemogukunns.github.io/keiryouka/css/pure-min.css">
  <link rel="stylesheet" href="https://pokemogukunns.github.io/keiryouka/css/grids-responsive-min.css">
  <link rel="stylesheet" href="https://pokemogukunns.github.io/keiryouka/css/ionicons.min.css">
  <link rel="stylesheet" href="https://pokemogukunns.github.io/keiryouka/css/default.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="no-theme">
  <py-env>
    - /cache.py
    - /main.py
  </py-env>
  <py-script>from main import home; def execute_function(): video(); execute_function()</py-script>

  <div class="pure-g"> 
    <div class="pure-u-1 pure-u-md-2-24"></div> 
    <div class="pure-u-1 pure-u-md-20-24" id="contents"> 
      <div class="pure-g navbar h-box"> 
        <div class="pure-u-1 pure-u-md-12-24 searchbar">
          <a href="./requestform">新機能の要望やバグ報告</a><br> 
          <a href="./bbs">掲示板</a>
          <form class="pure-form" action="/github-yuki/search/" method="get"> 
            <fieldset> 
              <input type="search" id="searchbox" autocomplete="on" autocorrect="on" autocapitalize="none" spellcheck="false" name="q" placeholder="検索" title="検索" value=""> 
            </fieldset> 
          </form> 
        </div> 
      </div> 
      <div id="player-container" class="h-box"> 
        <video style="outline:none;width:100%;background-color:#000;" id="player" controls>
          <source src="{% if proxy == 'True' %}/thumbnail?v={{ videoid }}{% else %}https://img.youtube.com/vi/{{ videoid }}/0.jpg{% endif %}">
        </video>
      </div> 
           <div class="h-box"> <h1>{{ videotitle }}</h1> </div> <div class="pure-g"> 
        <div class="pure-u-1 pure-u-lg-1-5"> 
          <a href="{{ videourls[0] }}" target="_blank">ダウンロード</a><br>
          <a href="javascript:{navigator.share({title: '動画を共有',text: '{{videotitle}}',url: location.protocol+'//'+document.domain+'/watch?v={{ videoid }}'+'&t='+Math.floor(document.getElementById('player').currentTime),})}">現時点の動画を共有</a><br>
          <a href="javascript:{navigator.share({title: '動画を共有',text: '{{videotitle}}',url: location.href,})}">動画を共有</a><br> 
          <hr> </div> <div class="pure-u-1 pure-u-lg-3-5">
            <div class="h-box">
            <a href="/github-yuki/channel/{{authorid}}" style="display:block;width:fit-content;width:-moz-fit-content">
              <div class="channel-profile">
                <img src="{{authoricon}}">
                <span id="channel-name"></span> </div> </a> 
            <div id="description-box"> <div id="descriptionWrapper">{{ description | safe}}</div> </div>
            <hr> <div id="comments"> </div> </div> </div> 
        <div class="pure-u-1 pure-u-lg-1-5">
          <!--自動再生<input type="checkbox" id="autonext" onchange="checkautoplay()"><br>-->
          ループ再生<input type="checkbox" id="loop" onchange="changeloop()"> {% for re in res %} <a href="/github-yuki/watch?v={{ re['id'] }}">
            <div class="thumbnail">
              <img loading="lazy" class="thumbnail" src="{% if proxy == "True" %}/thumbnail?v={{ re['id']}}{% else %}https://img.youtube.com/vi/{{ re['id'] }}/0.jpg{% endif %}">
            </div>
            <p style="width:100%">{{re["title"]}}</p> </a><br> 
          <a href="/github-yuki/channel/{{re['authorId']}}">{{re["author"]}}</a>{% endfor %} </div> </div> </div> </div> 
    </div>
    <div class="pure-u-1 pure-u-md-2-24"></div> 
  </div>

  <script>
    $('#searchbox').autocomplete({
      source: function (request, response) {
        var url = "/suggest?keyword=" + encodeURIComponent(request.term);
        var xhr = new XMLHttpRequest();
        xhr.open("GET", url, true);
        xhr.onload = function() {
          if (xhr.status === 200) {
            response(JSON.parse(xhr.responseText));
          }
        };
        xhr.send();
      },
      delay: 300
    });
  </script>
</body>
</html>
